{% extends 'base.html' %}
{% block content %}

<h1>Reservation Details</h1>

<p>Start: {{reservation.start_date}}</p>
<p>End: {{reservation.end_date}}</p>

<a href="{% url 'reservation_delete' reservation.id %}">Cancel This Reservation</a>

{% if reservation.gear_item.count %}
    <h3>Gear Reserved:</h3>
    {% for gear in reservation.gear_item.all %}
        <p>{{gear.name}}</p>
        <p>{{gear.price}}</p>
    {% endfor %}
{% else %}
    <h5>No Gear</h5>
{% endif %}


<h2>Choose an Item to Add:</h2>
{% for gear in gear_items %}
    <p>{{gear.name}}</p>
    <form action="{% url 'add_gear' reservation.id gear.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">Add {{gear.name}}</button>
    </form>
{% endfor %}







{% endblock %}