{% extends 'base.html' %}
{% block content %}

<h1>Reservations List</h1>
<h3><a href="{% url 'reservation_create' %}">Make a New Reservation</a></h3>

{% for reservation in reservation_list %}

<a href="{% url 'reservation_detail' reservation.id %}">
    <p>Start: {{reservation.start_date}}</p>
</a>
<p>End: {{reservation.end_date}}</p>
{% for gear_item in reservation.gear_item.all %}

<p>{{gear_item.name}}</p>

{% endfor %}
<hr>
{% empty %}
<h1>You do not have any reservations</h1>
{% endfor %}

{% endblock %}