{% extends 'base.html' %}
{% block content %}

<h1>Reservation Details</h1>

<p>Start: {{reservation.start_date}}</p>
<p>End: {{reservation.end_date}}</p>


{% if reservation.gear_item.count %}
    <h3>Gear Reserved:</h3>
    {% for gear in reservation.gear_item.all %}
        <p>{{gear.name}}</p>
        <p>Price: {{gear.price}}</p>
        <p>Quantity: {{reservation.qty}}</p>
        <p>Total Price: {% widthratio gear.price 1 reservation.qty %}</p>

        <hr>
    {% endfor %}
{% else %}
    <h5>No Gear Reserved Yet</h5>
{% endif %}



<a href="{% url 'reservation_delete' reservation.id %}">Cancel This Reservation</a>
<a href="{% url 'reservation_update' reservation.id %}">Edit This Reservation</a>


<h2>Need help deciding if you should rent some gear over the next three days?</h2>
<h3>Here's the weather forecast to help you out!</h3>
{% for day in forecast_list %}
    <h5>{{day.date}}</h5>
    <p>overall conditions: {{day.day.condition.text}}</p>
    <p>min temp: {{day.day.maxtemp_f}}</p>
    <p>min temp: {{day.day.mintemp_f}}</p>
    <p>chance of rain: {{day.day.daily_chance_of_rain}}</p>
    <hr>
    {%endfor%}


<h2>Choose an Item to Add:</h2>
{% for gear in gear_items %}
    <p>{{gear.name}}</p>
    <form action="{% url 'add_gear' reservation.id gear.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">Add {{gear.name}}</button>
    </form>
{% endfor %}







{% endblock %}