{% extends 'base.html' %}
{% block content %}

<h1>Reservation Details</h1>

<p>Start: {{reservation.start_date}}</p>
<p>End: {{reservation.end_date}}</p>

    <h3>Gear Reserved:</h3>
        <p>{{reservation.gear_item.name}}</p>
        <p>Price: {{reservation.gear_item.price}}</p>
        <p>Quantity: {{reservation.qty}}</p>
        <p>Total Price: {{reservation.total_price}}</p>
        <hr>


<a href="{% url 'reservation_delete' reservation.id %}">Cancel This Reservation</a>
<!-- <a href="{% url 'reservation_edit' reservation.id %}">Edit This Reservation</a> -->




{% comment %}
<h2>Choose an Item to Add:</h2>
{% for gear in gear_items %}
    <p>{{gear.name}}</p>
    <form action="{% url 'add_gear' reservation.id gear.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">Add {{gear.name}}</button>
    </form>
{% endfor %}

{% endcomment %}







{% endblock %}