{% extends 'base.html' %}
{% block content %}

<h1>Reservation Details</h1>

<p>Start: {{reservation.start_date}}</p>
<p>End: {{reservation.end_date}}</p>


{% if reservation.gear_item.count %}
    <h3>Gear Reserved:</h3>
    {% for gear in reservation.gear_item.all %}
        <p>{{gear.name}}</p>
        <p>Price: {{gear.price}}</p>
        <p>Quantity: {{reservation.qty}}
            <form action="{% url 'add_quantity' reservation.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">+</button>
            </form>
            <form action="{% url 'remove_quantity' reservation.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">-</button>
            </form>
        </p>
        <p>Total Price: {% widthratio gear.price 1 reservation.qty %}</p>
        <form action="{% url 'remove_gear' reservation.id gear.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Remove {{gear.name}}</button>
        </form>
        <hr>
    {% endfor %}
{% else %}
    <h5>No Gear Reserved Yet</h5>
{% endif %}



<a href="{% url 'reservation_delete' reservation.id %}">Cancel This Reservation</a>
<a href="{% url 'reservation_update' reservation.id %}">Edit This Reservation</a>


<h2>Choose an Item to Add:</h2>
{% for gear in gear_items %}
    <p>{{gear.name}}</p>
    <form action="{% url 'add_gear' reservation.id gear.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">Add {{gear.name}}</button>
    </form>
{% endfor %}







{% endblock %}